---
import { storyblokEditable } from '@storyblok/astro';
import Text from '~/storyblok/Text.astro';
import { Download as DownloadIcon } from '@lucide/astro';
import { buttonVariants } from '~/components/ui/button';
import { cn } from '~/lib/utils';
import { extractBoldText } from '~/utils/string';

const { blok } = Astro.props;
const { link, images, text } = blok;

const btnVariants = buttonVariants({ variant: 'outline', className: 'rounded-md' });

// Extract bold text from the text content if it exists
const boldTextResult = text ? extractBoldText(text) : null;
const displayText = boldTextResult?.cleanText || text;
const boldTexts = boldTextResult?.boldTexts;
---

<div
  {...storyblokEditable(blok)}
  class="bg-white border border-gray-200 rounded-lg flex items-center justify-between px-3 py-2 w-full"
>
  <!-- Download icon -->
  <div class="text-primary">
    <DownloadIcon />
  </div>

  <!-- Document info -->
  <div class="flex flex-col flex-grow mx-4">
    {
      boldTexts &&
        boldTexts.map(boldText => <Text blok={{ text: boldText, textClasses: 'font-semibold' }} />)
    }
    {displayText && <Text blok={{ text: displayText, textClasses: 'text-sm text-gray-400' }} />}
  </div>

  <!-- Download button -->
  <a href={link} target="_blank" rel="noopener noreferrer" class={cn('no-underline', btnVariants)}>
    Download
  </a>
</div>
