---
import { storyblokEditable } from '@storyblok/astro';
import ContactForm from '~/storyblok/Form/ContactForm.astro';

const { blok } = Astro.props;
const { variant, blocks, name } = blok;
---

{variant === 'contact' && <ContactForm blok={blok} />}

{
  (!variant || variant === 'default') && (
    <div {...storyblokEditable(blok)}>
      <h2>{name}</h2>
    </div>
  )
}
