.prose {
  --tw-prose-invert-body: oklch(1 0 0);
  max-width: 100%;

  a {
    @apply cursor-pointer font-normal decoration-primary decoration-2 underline-offset-4;
  }

  p + p {
    @apply mt-0;
  }

  p + h2 {
    @apply mt-5;
  }

  li::marker {
    @apply text-primary;
  }

  u {
    @apply decoration-primary underline-offset-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-inherit;
  }

  ul {
    @apply mt-0 pl-4;
  }

  p + ul {
    @apply mb-0;
  }

  p:has(+ ul) {
    @apply mb-0;
  }

  &.article-body {
    h2 {
      @apply text-2xl font-bold mb-3;
    }

    h3 {
      @apply mt-3;
    }

    ul {
      @apply mb-2;

      li {
        @apply my-1;
      }
    }

    blockquote {
      @apply border-primary my-2 bg-primary/10 p-3 pl-4;

      p {
        @apply my-0;

        &::before {
          content: '';
        }
      }
    }
  }
}
