---
import { storyblokEditable } from '@storyblok/astro';
import Icon from '~/components/Icon.astro';
import { cn } from '~/lib/utils';
import { buttonVariants } from '~/components/ui/button';

const { blok } = Astro.props;
const { btnClasses, iconBefore, variant, link, size } = blok;
---

<a
  {...storyblokEditable(blok)}
  href={link}
  className={cn('gap-[6px]', buttonVariants({ variant, size, className: btnClasses }))}
>
  {blok.text}
  <Icon name={blok.icon} class={iconBefore && 'order-first'} />
</a>
