---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
const { numberOfColumns, blocks, gridClasses } = blok;

const columnConfig = numberOfColumns?.split(',') || ['1', '2', '3'];
const [lgColumns, mdColumns, smColumns] = columnConfig;
---

<div {...storyblokEditable(blok)}>
  <div
    class={`grid grid-cols-${smColumns || 1} md:grid-cols-${mdColumns || 2} lg:grid-cols-${lgColumns || 3} ${gridClasses}`}
  >
    {
      blocks?.map(nestedBlok => {
        return <StoryblokComponent blok={nestedBlok} />;
      })
    }
  </div>
</div>
