---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import Icon from '~/components/Icon.astro';
import { cn } from '~/lib/utils';
const { blok } = Astro.props;
const { items, title, listClasses, icon, iconClasses } = blok;

// Check if icon is comma-separated, if yes, split into array
const iconNames = icon && icon.includes(',') ? icon.split(',').map(i => i.trim()) : icon;
---

<div
  {...storyblokEditable(blok)}
  class={cn(listClasses, 'prose prose-headings:m-0 prose-p:m-0 dark:prose-invert flex flex-col')}
>
  {title && <p class="font-bold pb-2">{title}</p>}
  {
    items?.map((nestedBlok, index) => {
      // Use the icon at corresponding index, or the single icon for all
      const iconName = Array.isArray(iconNames) ? iconNames[index] || iconNames[0] : iconNames;

      return (
        <div class="flex gap-2">
          {icon && <Icon name={iconName} class={cn(iconClasses, 'text-xl!')} />}
          <StoryblokComponent blok={nestedBlok} />
        </div>
      );
    })
  }
</div>
