---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="py-12 md:py-24 lg:py-32 relative bg-cover bg-center">
  section
</section>
