---
import { storyblokEditable } from '@storyblok/astro';
import { Markdown } from 'astro-remote';
import { cn } from '~/lib/utils';
import Icon from '~/components/Icon.astro';
import { Badge } from '~/components/ui/badge';
import SocialIcons from '~/components/SocialIcons.astro';
import Divider from '~/components/Divider.astro';

const { blok } = Astro.props;
const { text = 'text', textClasses } = blok;

const hasProseClass = textClasses?.includes('prose');
const proseClasses = hasProseClass
  ? 'prose dark:prose-invert'
  : 'prose prose-headings:m-0 prose-p:m-0 dark:prose-invert';
---

<div class={cn(`${proseClasses} flex flex-col`, textClasses)} {...storyblokEditable(blok)}>
  <Markdown
    content={text}
    sanitize={{ allowComponents: true }}
    components={{ Icon, Badge, SocialIcons, Divider }}
  />
</div>
