---
import { cn } from '~/lib/utils';
import { storyblokEditable } from '@storyblok/astro';
import OptimisedImage from '~/components/OptimisedImage.astro';

const { blok } = Astro.props;
const { name = 'text', visualClasses, images, video } = blok;
---

<div class={cn('w-full', visualClasses)} {...storyblokEditable(blok)}>
  {
    images && images.length > 0 && (
      <div class="flex flex-wrap gap-4">
        {images.map(image => (
          <OptimisedImage
            src={image.filename}
            alt={image.alt || ''}
            width={image.width || 800}
            height={image.height || 600}
            class="max-w-full h-auto"
          />
        ))}
      </div>
    )
  }

  {
    video && (
      <div class="w-full">
        <video controls src={video.url} class="w-full ">
          Your browser doesn't support video playback.
        </video>
      </div>
    )
  }
</div>
