---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { getStoryblokStories, getStoryblokStory } from '~/lib/storyblok';

export async function getStaticPaths() {
  const stories = await getStoryblokStories({
    content_type: 'solution',
    version: import.meta.env.DEV ? 'draft' : 'published',
  });

  return stories.map(story => {
    return {
      params: { slug: story.slug },
    };
  });
}

const { slug } = Astro.params;
const story = await getStoryblokStory(`solution/${slug}`, {
  version: import.meta.env.DEV ? 'draft' : 'published',
});
---

<html lang="en">
  <head>
    <title>Storyblok & Astro</title>
  </head>
  <body>
    <StoryblokComponent blok={story.content} />
  </body>
</html>
